body {
    padding: 0;
    margin: 0;
}

.slider {
    width: 100%;
    height: 288px;
    overflow: hidden;
}

.slider_content {
    width: 6400px;
    position: relative;
    left: 0;
    transition: all ease 2s;
}

.slider_content img {
    float: left;
    width: 1280px;
    height: 288px;
}

.slider_left {
    position: absolute;
    top: 140px;
}
.slider_right {
    position: absolute;
    top: 140px;
    left: 1255px;
}
