body {
    padding: 0;
    margin: 0;
}

.slider {
    width: 100%;
    height: 210px;
    overflow: hidden;
}

.slider_content {
    position: relative;
    left: 0;
    transition: all ease 2s;
    margin: 0;
    
}

.slide1,
.slide2,
.slide3,
.slide4,
.slide5 {
    background-size: cover;
    background-repeat:no-repeat ;
    display: block;
    float: left;
   
}
.slide1 {
    background-image: url(images/slide1.jpg);
}

.slide2 {
    background-image: url(images/slide2.jpg);
}

.slide3 {
    background-image: url(images/slide3.jpg);
}

.slide4 {
    background-image: url(images/slide4.jpg);
}

.slide5 {
    background-image: url(images/slide5.jpg);
}


.slide1 h2,
.slide2 h2,
.slide3 h2,
.slide4 h2,
.slide5 h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: bisque;
}

.slide1 p,
.slide2 p,
.slide3 p,
.slide4 p,
.slide5 p {
    text-align: center;
    font-size: 40px;
    color: bisque;
}

.slider_swipe {
  text-align: center;
}

.slider_left,
.slider_right {
    padding: 5px 15px;
}

.carousel {
    width:640px;
    height: 128px;
    margin: 50px auto;
    overflow: hidden;
    
}

.carousel_content {
    width: 1408px;
    height: 128px;
    position: relative;
    left: 0;
    transition: all ease 1s;
    
}

.carousel_content img {
   float: left; 
}

.carousel_swipe {
    margin-top: -20px;
    text-align: center;
}

.carousel_left {
    background-color:  bisque;
    width: 10%;
}
.carousel_right {
    margin-left: 35%;
    background-color:bisque; 
    width: 10%;
}
  